#OS junk files
[Tt]humbs.db
*.DS_Store

.vs
LoZ_CSE3902/Obj/*
LoZ_CSE3902/Bin/*
LoZ_CSE3902/bin/*
LoZ_CSE3902/obj/*
LoZ_CSE3902/packages/*
LoZ_CSE3902/.vs/*
packages/*
*.exe
*.pdb 
AForge.*
LoZ_CSE3902/Content/obj/*
LoZ_CSE3902/Content/obj/DesktopGL/Content/.mgstats
bin/
obj/
/packages/
/Output/
/.idea/
/.vs/
/ipch/
*.suo
*.user
*.DotSettings*
*.dgml
*.VC.opendb
*.VC.db
*.idb
*.sdf
*.tlog
*.meta
*.pfx

*/publish/*
/DeTexl
*.TMP

